<h1>Productos</h1>
<button [routerLink] ='["/"]' class="btn btn-primary">Home</button>
<button [routerLink] ='["/products-add"]' class="btn btn-primary">Agregar Productos</button>

<p *ngIf="!products"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Costo</th>
      <th>C/Inventario</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prod of products">
      <td>{{ prod.idProduct }}</td>
      <td>{{ prod.nombre }}</td>
      <td>{{ prod.costo }}</td>
      <td>{{ prod.cantidadInventario }}</td>
      <td>
        <button class="btn">Editar</button>
        <button class="btn">Borrar</button>
      </td>
    </tr>
  </tbody>
</table>
